In [1]:
import pandas as pd
import numpy as np

向量化字符串主要用于清洗数据

pandas主要通过str来实现字符串向量化，通过str，可以解决数据为None问题，使用简单方便，支持各种方法

In [6]:
data = ['peter', 'Paul', 'MARY', 'gUIDO']
names = pd.Series(data)

In [7]:
names

0    peter
1     Paul
2     MARY
3    gUIDO
dtype: object

In [8]:
names.str.capitalize()

0    Peter
1     Paul
2     Mary
3    Guido
dtype: object

In [9]:
names.str.len()

0    5
1    4
2    4
3    5
dtype: int64

1、向量化字符串的取值与切片操作（不解释）
2、指标变量

 get_dummies() 方法：当你的数据有一列 包含了若干已被编码的指标(coded indicator)时，这个方法就能派上用场了。

In [12]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam','Eric Idle', 'Terry Jones', 'Michael Palin'])
full_monte = pd.DataFrame({'name': monte,'info': ['B|C|D', 'B|D', 'A|C', 'B|D', 'B|C','B|C|D']})

In [13]:
full_monte

             name   info
0  Graham Chapman  B|C|D
1     John Cleese    B|D
2   Terry Gilliam    A|C
3       Eric Idle    B|D
4     Terry Jones    B|C
5   Michael Palin  B|C|D

In [17]:
full_monte['info'].str.get_dummies('|')   # 独热编码

   A  B  C  D
0  0  1  1  1
1  0  1  0  1
2  1  0  1  0
3  0  1  0  1
4  0  1  1  0
5  0  1  1  1

In [29]:
full_monte['name'][full_monte['info'].str.get_dummies('|')['C']==1]

0    Graham Chapman
2     Terry Gilliam
4       Terry Jones
5     Michael Palin
Name: name, dtype: object