In [4]:
import pandas as pd
import numpy as np

基础数据结构是 DataFrame:DataFrame既可以作为一个通用型 NumPy 数组，也可以看作特殊的 Python 字典

如果将 Series 类比为带灵活索引的一维数组，那么 DataFrame 就可以看作是一种既有灵活 的行索引，又有灵活列名的二维数组。就像你可以把二维数组看成是有序排列的一维数组 一样，你也可以把 DataFrame 看成是有序排列的若干 Series 对象。这里的“排列”指的是 它们拥有共同的索引。

In [5]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
                  'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
print(area)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [14]:
# population_dict = {'California': 38332521, 'Texas': 26448193, 'New York': 19651127, 'Florida': 19552860, 'Illinois': 12882135}
population_dict = {'California': 38332521,  'New York': 19651127, 'Florida': 19552860, 'Illinois': 12882135}
population = pd.Series(population_dict)
print(population)

California    38332521
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [15]:
states = pd.DataFrame({'population': population,'area': area})
print(states)

            population    area
California  38332521.0  423967
Florida     19552860.0  170312
Illinois    12882135.0  149995
New York    19651127.0  141297
Texas              NaN  695662

注意这里的nan，上面我故意删掉了一个

In [18]:
states.index

Index(['California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')

In [19]:
states.values

array([[38332521.,   423967.],
       [19552860.,   170312.],
       [12882135.,   149995.],
       [19651127.,   141297.],
       [      nan,   695662.]])

In [20]:
states.columns # 有一个列属性

Index(['population', 'area'], dtype='object')

In [21]:
states.area

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

与 Series 类似，我们也可以把 DataFrame 看成一种特殊的字典。字典是一个键映射一个值，而 DataFrame 是一列映射一个 Series 的数据

In [23]:
states['area']

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

创建DataFrame对象

(1) 通过单个 Series 对象创建

In [31]:
pd.DataFrame(population,columns=['population'])

            population
California    38332521
New York      19651127
Florida       19552860
Illinois      12882135

(2) 通过字典列表创建

In [34]:
pd.DataFrame([i+2,i+4,i*2] for i in range(1,5))

   0  1  2
0  3  5  2
1  4  6  4
2  5  7  6
3  6  8  8

(3) 通过 Series 对象字典创建

In [37]:
a = pd.Series({"a":1,"b":2,"c":3})
b = pd.Series({"a":11,"b":22,"c":33})
pd.DataFrame({"aa":a,"bb":b})

   aa  bb
a   1  11
b   2  22
c   3  33

(4) 通过 NumPy 二维数组创建

In [40]:
n = np.random.randint(1,10,size=(3,4))
pd.DataFrame(n,index=["a","b","c"],columns=["aa","bb","cc","dd"])

   aa  bb  cc  dd
a   5   4   3   4
b   3   2   4   1
c   2   7   7   9

(5) 通过 NumPy 结构化数组创建