In [1]:
import numpy as np
import pandas as pd

回忆numpy广播

In [6]:
rng = np.random.RandomState(42)

In [7]:
a = rng.randint(0,10,(3,4))

In [8]:
a

array([[6, 3, 7, 4],
       [6, 9, 2, 6],
       [7, 4, 3, 7]])

In [9]:
a-a[0]

array([[ 0,  0,  0,  0],
       [ 0,  6, -5,  2],
       [ 1,  1, -4,  3]])

pandas也是类似,默认是按行的

In [10]:
df = pd.DataFrame(a,columns=list("abcd"))

In [11]:
df

   a  b  c  d
0  6  3  7  4
1  6  9  2  6
2  7  4  3  7

In [12]:
df-df.iloc[0]

   a  b  c  d
0  0  0  0  0
1  0  6 -5  2
2  1  1 -4  3

如果想按列也可以，就不能用运算符，而是用方法，要传其他参数

In [15]:
df.subtract(df.iloc[0]) # 行

   a  b  c  d
0  0  0  0  0
1  0  6 -5  2
2  1  1 -4  3

In [19]:
df.subtract(df['a'],axis=0) # 列

   a  b  c  d
0  0 -3  1 -2
1  0  3 -4  0
2  0 -3 -4  0

In [21]:
df.subtract(df['a']) # 行列混乱-对齐导致的

    a   b   c   d   0   1   2
0 NaN NaN NaN NaN NaN NaN NaN
1 NaN NaN NaN NaN NaN NaN NaN
2 NaN NaN NaN NaN NaN NaN NaN

In [23]:
s = df.iloc[0,::2]

In [24]:
s

a    6
c    7
Name: 0, dtype: int32

In [26]:
df-s

     a   b    c   d
0  0.0 NaN  0.0 NaN
1  0.0 NaN -5.0 NaN
2  1.0 NaN -4.0 NaN

pandas总是行列对齐的