In [75]:
import numpy as np
import pandas as pd

Pandas 提供了一些方法来发现、剔除、替换数据结构中的缺失值

isnull 别名 isna 判断na

In [76]:
data = pd.Series([1, np.nan, 'hello', None])

In [77]:
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [78]:
data.notnull() # 与isnull相反

0     True
1    False
2     True
3    False
dtype: bool

In [79]:
data[data.isnull()],data[data.notnull()]

(1     NaN
 3    None
 dtype: object, 0        1
 2    hello
 dtype: object)

dropna:删除na

In [80]:
data.dropna()

0        1
2    hello
dtype: object

DataFrame上则不同，DataFrame上是行列的，dropna不会只剔除一个值（剔除一个还是缺失），只会剔除整行或整列，所以需要设置是剔除行还是列

In [81]:
data2 = pd.DataFrame([[1, np.nan, 2], [2,      3,      5], [np.nan, 4,      6]])

In [82]:
data2.dropna()

     0    1  2
1  2.0  3.0  5

axis=1(或 axis='columns')

In [83]:
data2.dropna(axis="columns")

   2
0  2
1  5
2  6

这样剔除的是全部的，只要有缺省值就剔除，默认设置是any, how='any'：只要有就剔除， how='all'：全部是才剔除

In [84]:
data3 = pd.DataFrame([[np.nan, np.nan, 2], [np.nan,      3,      np.nan], [np.nan, 4,      np.nan]])

In [85]:
data3.dropna(axis=1,how="all")

     1    2
0  NaN  2.0
1  3.0  NaN
2  4.0  NaN

 thresh 参数设置行或列中非缺失值的最小数量

In [86]:
data3.dropna(axis=1,thresh=2)

     1
0  NaN
1  3.0
2  4.0

fillna 填充

In [87]:
data3

    0    1    2
0 NaN  NaN  2.0
1 NaN  3.0  NaN
2 NaN  4.0  NaN

In [88]:
data3.fillna(0)

     0    1    2
0  0.0  0.0  2.0
1  0.0  3.0  0.0
2  0.0  4.0  0.0

In [89]:
data3.fillna(method="bfill",axis=1) # 列 从后往前填充

     0    1    2
0  2.0  2.0  2.0
1  3.0  3.0  NaN
2  4.0  4.0  NaN

In [90]:
data3.fillna(method="ffill",axis=1) # 列 从前往后填充

    0    1    2
0 NaN  NaN  2.0
1 NaN  3.0  3.0
2 NaN  4.0  4.0

通过上面的结果，不难发现，如果从前往后填充，但是前面的值不存在，将还是nan，从后往前填充后面的不存在，前面的还是nan，这点很重要