In [18]:
import numpy as np
import pandas as pd

简单创建

In [19]:
df = pd.DataFrame(np.random.randn(4,2),
                  index=[['a','a','b','b'],[1,2,1,2]],
                  columns=['data1','data2'])

In [20]:
df

        data1     data2
a 1 -0.607606 -2.759222
  2  1.957078 -0.418135
b 1  1.093994  0.326814
  2 -0.187487  0.636056

创建

In [21]:
data = {('California', 2000): 33871648,
             ('California', 2010): 37253956,
             ('Texas', 2000): 20851820,
             ('Texas', 2010): 25145561,
             ('New York', 2000): 18976457,
             ('New York', 2010): 19378102}
pd.Series(data)

California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64

显式地创建多级索引

从数组

In [22]:
pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'], [1, 2, 1, 2]])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

从元组列表

In [23]:
pd.MultiIndex.from_tuples([('a', 1), ('a', 2), ('b', 1), ('b', 2)])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

从笛卡尔积

In [24]:
pd.MultiIndex.from_product([['a','b'],[1,2]])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

直接创建

In [25]:
pd.MultiIndex(levels=[['a', 'b'], [1, 2]],
                            labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

在创建 Series 或 DataFrame 时，可以将这些对象作为 index 参数，或者通过 reindex 方法 更新 Series 或 DataFrame 的索引。

多级索引的等级名称

In [27]:
df.index.names= ['L1','L2']

In [28]:
df

          data1     data2
L1 L2
a  1  -0.607606 -2.759222
   2   1.957078 -0.418135
b  1   1.093994  0.326814
   2  -0.187487  0.636056

多级列索引

In [29]:
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
                                        names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
                                          names=['subject', 'type'])

data = np.round(np.random.randn(4, 6), 1)

In [30]:
data

array([[-0.3,  0.1,  0.6,  1.2,  0. ,  1.3],
       [-0.4, -0.6,  0.6, -1.5,  0.3,  0.7],
       [ 0.4,  1.3, -2.2,  0.1, -1.5, -0.9],
       [-1.2,  0.3,  0.7, -0. ,  1.4,  0.6]])

In [33]:
health_data = pd.DataFrame(data,index=index,columns=columns)
health_data

subject     Bob      Guido       Sue
type         HR Temp    HR Temp   HR Temp
year visit
2013 1     -0.3  0.1   0.6  1.2  0.0  1.3
     2     -0.4 -0.6   0.6 -1.5  0.3  0.7
2014 1      0.4  1.3  -2.2  0.1 -1.5 -0.9
     2     -1.2  0.3   0.7 -0.0  1.4  0.6

In [34]:
health_data['Guido']

type         HR  Temp
year visit
2013 1      0.6   1.2
     2      0.6  -1.5
2014 1     -2.2   0.1
     2      0.7  -0.0