In [225]:
import numpy as np
import pandas as pd

In [226]:
data = {('California', 2000): 33871648,
         ('California', 2010): 37253956,
         ('Texas', 2000): 20851820,
         ('Texas', 2010): 25145561,
         ('New York', 2000): 18976457,
         ('New York', 2010): 19378102}
pop = pd.Series(data)
pop.index.names = ['state','year']

In [227]:
pop

state       year
California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64

Series多级索引

获取数据

In [228]:
pop['California',2010]   # state year

37253956

In [229]:
pop['California'] # state

year
2000    33871648
2010    37253956
dtype: int64

In [230]:
pop.iloc[0:4] # 这里有点特殊，按照内索引计算(year)

state       year
California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
dtype: int64

In [231]:
pop.values

array([33871648, 37253956, 20851820, 25145561, 18976457, 19378102],
      dtype=int64)

书上说可以pop.loc['California':'New York']，但是本地环境报错，觉得可能是版本问题，有点变化，这里报UnsortedIndexError 
书上有标注“类似的还有局部切片，不过要求 MultiIndex 是按顺序排列的”

In [232]:
pop[:,2010] # year

state
California    37253956
Texas         25145561
New York      19378102
dtype: int64

布尔掩 码

In [233]:
pop[pop>20851820]

state       year
California  2000    33871648
            2010    37253956
Texas       2010    25145561
dtype: int64

花哨索引

In [234]:
pop[['California', 'Texas']]

state       year
California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
dtype: int64

In [235]:
pop.iloc[:2]

state       year
California  2000    33871648
            2010    37253956
dtype: int64

In [236]:
# pop.loc['California':'Texas'] # 注意，这里报错，报UnsortedIndexError 因为index无序，可以用pop.index.is_lexsorted()查看
# 有序无序这个问题后面会有更详细说明

In [237]:
pop.index.is_lexsorted() # 查看索引是否有序

False

In [238]:
pop2 = pop.sort_index(level='state') # pop2 = pop.sort_index(level='state')

In [239]:
pop2.index.is_lexsorted() # 再看

True

In [240]:
pop2.loc['California':'Texas']  # 现在就出来了

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

DataFrame多级索引

In [241]:
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
                                        names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
                                          names=['subject', 'type'])
data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
data += 37
health_data = pd.DataFrame(data, index=index, columns=columns)

In [242]:
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      31.0  36.3  26.0  37.5  35.0  36.6
     2      34.0  38.6  41.0  36.3  48.0  37.6
2014 1      38.0  38.5  34.0  37.6  39.0  36.3
     2      37.0  36.8  39.0  35.3  68.0  37.3

In [243]:
health_data['Guido', 'HR']

year  visit
2013  1        26.0
      2        41.0
2014  1        34.0
      2        39.0
Name: (Guido, HR), dtype: float64

In [244]:
health_data['Guido', 'HR'][2013][1]

26.0

In [245]:
health_data.iloc[:2, :2]

subject      Bob
type          HR  Temp
year visit
2013 1      31.0  36.3
     2      34.0  38.6

In [246]:
health_data.index.is_lexsorted()

True

In [247]:
health_data.loc[2013:2014] # 有序

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      31.0  36.3  26.0  37.5  35.0  36.6
     2      34.0  38.6  41.0  36.3  48.0  37.6
2014 1      38.0  38.5  34.0  37.6  39.0  36.3
     2      37.0  36.8  39.0  35.3  68.0  37.3

In [248]:
health_data['Guido','Temp']

year  visit
2013  1        37.5
      2        36.3
2014  1        37.6
      2        35.3
Name: (Guido, Temp), dtype: float64

In [249]:
health_data['Guido','Temp'][2014,2]

35.3

In [250]:
health_data.iloc[3,2] # 内维度计算横竖

39.0

In [251]:
health_data.iloc[:3,:2] # 内维度计算横竖

subject      Bob
type          HR  Temp
year visit
2013 1      31.0  36.3
     2      34.0  38.6
2014 1      38.0  38.5

还可以使用元组

In [252]:
health_data.loc[:, ('Bob', 'HR')]

year  visit
2013  1        31.0
      2        34.0
2014  1        38.0
      2        37.0
Name: (Bob, HR), dtype: float64

In [253]:
health_data.loc[:2014, ('Bob', 'HR')]

year  visit
2013  1        31.0
      2        34.0
2014  1        38.0
      2        37.0
Name: (Bob, HR), dtype: float64

元组不能实现分片，IndexSlice 一种更好的分片

In [254]:
idx = pd.IndexSlice
health_data.loc[idx[:, 1], idx[:, 'HR']]

subject      Bob Guido   Sue
type          HR    HR    HR
year visit
2013 1      31.0  26.0  35.0
2014 1      38.0  34.0  39.0