In [4]:
import numpy as np
import pandas as pd

In [6]:
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
                                        names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
                                          names=['subject', 'type'])
data = np.round(np.random.randn(4, 6), 1) 
data[:, ::2] *= 10
data += 37
# 创建DataFrame
health_data = pd.DataFrame(data, index=index, columns=columns) 
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      42.0  36.5  36.0  36.0  46.0  38.0
     2      37.0  37.3  28.0  36.6  34.0  37.0
2014 1      27.0  35.8  19.0  36.1  39.0  36.6
     2      31.0  37.2  31.0  36.7  38.0  35.0

In [7]:
data_mean = health_data.mean(level='year')

In [8]:
data_mean

subject   Bob       Guido         Sue
type       HR  Temp    HR  Temp    HR  Temp
year
2013     39.5  36.9  32.0  36.3  40.0  37.5
2014     29.0  36.5  25.0  36.4  38.5  35.8

In [9]:
data_mean.mean(axis=1, level='type')

type         HR       Temp
year
2013  37.166667  36.900000
2014  30.833333  36.233333

GroupBy 功能的快捷方式