In [1]:
import numpy as np
import pandas as pd

这一节主要是数据集的合并和连接，这个和sql的连表一样，支持左连接、右连接。
1、merge，用于合并。
2、支持on，设置关联数据，相当于sql的on，同时支持left_on,right_on。
3、同时支持left_index，right_index，并且可以和left_on，right_on混用，join就是通过left_index、right_index执行合并的。
4、支持how，inner内连接、outer外连接、left左连接、right右连接。
5、支持重复名前缀suffixes

In [2]:
df1 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],'rank': [1, 2, 3, 4]})
df2 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],'rank': [3, 1, 4, 2]})
print(df1); print(df2); print(pd.merge(df1, df2, left_on="name",right_on='name',suffixes=['_L','_R']))

   name  rank
0   Bob     1
1  Jake     2
2  Lisa     3
3   Sue     4
   name  rank
0   Bob     3
1  Jake     1
2  Lisa     4
3   Sue     2
   name  rank_L  rank_R
0   Bob       1       3
1  Jake       2       1
2  Lisa       3       4
3   Sue       4       2

In [12]:
df3 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],'rank': [1, 2, 3, 4]})
df4 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],'rank': [3, 1, 4, 2]})
df5 = df3.set_index('name')
df6 = df4.set_index('name')
print(df5); print(df5); 
pdf = pd.merge(df5, df6, left_index=True,right_index=True,suffixes=['_L','_R'])
print(pdf.index)
print(pdf)

      rank
name
Bob      1
Jake     2
Lisa     3
Sue      4
      rank
name
Bob      1
Jake     2
Lisa     3
Sue      4
Index(['Bob', 'Jake', 'Lisa', 'Sue'], dtype='object', name='name')
      rank_L  rank_R
name
Bob        1       3
Jake       2       1
Lisa       3       4
Sue        4       2