In [13]:
import numpy as np
import pandas as pd

In [14]:
def make_df(cols, ind):
    """一个简单的DataFrame"""
    data = {c:[str(c)+str(i) for i in ind] for c in cols}
    return pd.DataFrame(data, ind)

In [15]:
make_df('ABC', range(3))

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

numpy数组合并

In [16]:
x = [1,2,3]
y = [4,5,6]
z = [7,8,9]

In [17]:
np.concatenate([x,y,z])

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [18]:
x = [[1,2],[3,4]]
np.concatenate([x,x], axis=1)

array([[1, 2, 1, 2],
       [3, 4, 3, 4]])